
@{
    ViewBag.Title = "Smartphone";
}

<h2>Smartphone</h2>

<table align="center">
    <tr>
        <td><img class="image" src="~/Content/Images/Smartphone.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Iphone 11 Pro White</font>></li>
                <li><font size="4">1.014,90€</font></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><img class="image" src="~/Content/Images/Smartphone.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Iphone 11 Pro Black</font></li>
                <li><font size="4">1.014,90€</font></li>
            </ul>
        </td>
    </tr>

    <tr>
        <td><img class="image" src="~/Content/Images/Smartphone.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Iphone 11 Pro Red</font></li>
                <li><font size="4">1.014,90€</font></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><img class="image" src="~/Content/Images/Smartphone.jpg" alt="dieses Bild ist nicht verfügbar" width="250" height="250" /></td>
        <td>
            <ul>
                <li><font size="6">Iphone 11 Pro Yellow</font></li>
                <li><font size="4">1.014,90€</font></li>
            </ul>
        </td>
    </tr>
</table>
<br />