@model WebApplications_Übung1.Models.User
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

@using (Html.BeginForm("login", "user,"))
{
    <table align="center">
        <thead>
            <tr>
                <td colspan="2">Anmeldedaten</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td> @Html.LabelFor(u => u.Username, "Benutzername:")</td>
                <td> @Html.TextBoxFor(u => u.Username, new { required = "required" })</td>

            </tr>

            <tr>
                <td> @Html.LabelFor(u => u.Password, "Passwort:")</td>
                <td> @Html.PasswordFor(u => u.Password, new { required = "required" })</td>

            </tr>


            <tr>
                <td colspan="2" style=" text-align:center">
                    <input type="submit" value="absenden" id="btnSubmit" />
                    <input type="reset" value="abbrechen" id="btnReset" />
                </td>

            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>


}